.btn{
    border-radius: 10px;
    width: 100%;
    font-weight: bold;
}

.inputForm label{
    font-size: 18px;
    color:black;
}

.btn{
  background: #000046;  
  background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  
  background: linear-gradient(to right, #1CB5E0, #000046); 
}